@{
    ViewBag.Title = "Assign Users to Role";
}

<link href="~/Content/MyStyles/MyCss.css" rel="stylesheet" />
<h2>Assign Users to Role</h2>
<table class="table table-bordered table-striped">
    <tr>
        <td class="t1">
            @Html.ActionLink("Create New Role", "Create")
        </td>
        <td class="t1">
            @Html.ActionLink("Assign User to Role", "AssignUserToRole")
        </td>
    </tr>
</table>
 

<h2>Role Add to User</h2>
@using (Html.BeginForm("UserAddToRole", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.Editor("UserName")
        Role Name: @Html.DropDownList("RoleName", (
        IEnumerable<SelectListItem>)ViewBag.Roles, "Select Role")
    </p>

    <input type="submit" value="Save" class="btn btn-success"/>
}

 